body {
  margin: 0;
}

/* div { border: 1px solid red; } */
/* span { border: 1px solid lime; } */

#page-banner {
  width: 100%;
  height: fit-content;
}

#page-banner img {
  content: url("../img/banner.png");
  image-rendering: pixelated; 
  width: 100%;
}

#prologue {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 2em;
  margin-top: 2em;
}

footer {
  text-align: center;
}

#documentation {
  text-align: center;
}

.events-list {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.events-list > ul {
  list-style: none;
}

.event-time {
  
}

.event-time::after {
  content: " – ";
}

.user-mention {
  color: white;
  background-color: #737ccedf;
  padding: 0 0.3em 0 0.25em;
  border-radius: 0.3em;
}

.user-mention::before {
  content: "@";
}